* {
    margin: 0;
    padding: 0;
    background-color: #091921;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    font-size: 140px;
    text-align: center;
    color: white;
    border: 10px solid coral;
}

h1 {
    color: white;
}

.date {
    font-size: 100px;
    text-align: center;
    color: white;
    border: 10px solid coral;
}